
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>微信登录MVC版</title>
    <meta name="keywords" content="smallant,smallant.net,www.smallant.net" />
    <meta name="description" content="小蚂蚁技术问答社区-做最好的技术问答社区" />
    <meta name="author" content="smallant.net" />
    <meta name="copyright" content="2016 smallant.net" />
    <link href="/css/css.css" rel="stylesheet" />
</head>
<body>
    <div>
        <div class="ant_login_box">
            <p><h3>微信登录MVC版</h3></p>
            <p><a href="@ViewBag.WXLoginUrl"><img src="/img/wx.png" /></a></p>
            <p><img src="/img/smallant.jpg" class="ant_login_box_img" /></p>
             <p>您还可以加入<a href="https://jq.qq.com/?_wv=1027&k=5kg07Vo" target="_blank">Java/.NET/PHP养老群： 574879752</a></p>
        </div>
    </div>
</body>
</html>
